sudo: required

services:
  - docker

language: ruby

rvm:
  - 2.5.1

cache:
  directories:
    - ~/.npm
    - ~/.cache

before_install:
  - docker-compose -f docker-compose-test.yml up -d --build

install:
  - bundle install --jobs=3 --retry=3
  - nvm install v10.8.0
  - nvm alias default v10.8.0
  - npm ci

before_script:
  - sleep 45

script:
  - bundle exec rake spec
  - npm run cypress:run
